*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}
a{
    text-decoration: none;
}
a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}
/*END OF CSS RESET*/

body{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}
section{
    min-height: 100vh;
}

section.bg-image{
    height: 100vh;
    overflow: hidden;
}

section.bg-image img{
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
section.bg-image button{
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    margin: 40px 0;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    

}
section.bg-image h1{
    font-size: 100px;
    margin: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
#about{
    min-height: unset;
}
#about article{
    width: 100%;
    max-width: 400px;
    padding: 80px 20px;
    margin: 0 auto;
}
#about h2{
    padding-bottom: 20px;
}

#services{
    padding: 60px 0;
    background-image: url("https://images.hdqwalls.com/download/minimal-landscape-4k-ro-1920x1080.jpg");
    background-size: cover;
    background-position: center center;
}

#services ul{
    width: 100%;
    max-width: 800px;
    padding: 80px 20px;
    margin: 0 auto;
    list-style: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
}
#services ul li{
    padding-bottom: 10px;
}
#services ul li h2,#services ul li p{
    text-align: center;
}

#contact{
    background-image: url("https://i.redd.it/iom7q16bzwd51.png");
    background-size: cover;
    background-position: center center;

}
#contact form{
    width: 100%;
    max-width: 400px;
    padding: 40px 20px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    text-align: center;
    
}
#contat input,#contant label{
    display: block;
    width: 100%;
}

#contant label{
    font-size: 12px;
    padding-bottom: 10px;
}
#contact input{
    height: 60px;
    padding: 0 10px;
    margin-bottom: 30px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
#contact button{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    font-size: 20px;
    
}